body {
    background-color: white;
    font-family: Arial;
}

h1 {
    color: blue;
    font-size: 40px;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 15px;
}

input[type="submit"] {
    background-color: blue;
    color: white;
}
input:hover{
    background: red;
}

a {
    color: blue;
    text-decoration: none;
}

hr {
    width: 220px;
}